#borda{
    width: 1000px;
    height: 90px;
    font-size: 20px;
    color:black;
    background-color:#00cc33
       
        
    }
     #h4,#h3{
         align:left;
}
#bord{
   width: 1000px;
    height: 120px;
    font-size: 20px;
    color:red;
    background-color:#cccccc 
}
#bor{
   width: 1000px;
    height: 120px;
    font-size: 20px;
    color:red;
    background-color:#cccccc 
}




#iconepc{
 align:left;
}
#postado{
    color: #999999;
}

