td{
    width: 170px;
    font-size: 16pt;
    font-family:Tahoma;
       
}
h3{
    color:red;
}
th{
    font-size: 16pt;
    color:blue;
}
#media{
    font-style: italic;
}
#result{
   font-weight: bold;
}

